[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/
Name[en_GB]=info6005-pc3g11.desktop
Exec=/usr/share/info6005-pc3g11/bat
Comment[en_GB]=This is part of a coursework for Students on the INFO6005 course at the University of Southampton
Name=info6005-pc3g11
Comment=This is part of a coursework for Students on the INFO6005 course at the University of Southampton
Icon=/
Categories=Network;GTK;GNOME
